:root {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1C1C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  gap: 0;
  border: 0;
}

/* @media (min-width: 1025px) {  */
/* Media query for desktops starts herre */
  
  
    body{
      background-color: #242424;
      padding: 0px 200px;

      height: 99vh;
      
    }

    a{
      text-decoration: none;
      color: #4D4D4D;
    }

    .navbar{
      padding: 30px 80px 25px 80px;
      margin-bottom: 5px;

      background-color: #FFF7ED;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border-radius: 5px;
    }

    .logoImg{
      height: 22px;
    }

    .linkContainer{
      /* min-width: 150px;
      max-width: 500px; */
      display: flex;
      justify-content: space-between;

    }

    .link{
      font-size: 22px;
      font-weight: 600;

      color: #4D4D4D;
      
      margin: 0px 40px;
      transition: transform .1s ease-in-out;
    }

    .link:hover {
      transform: translate(0px, -4px);
      text-decoration: underline;
    }

    .active-link{
      font-weight: 600;
      text-decoration: underline;
      color: #000000;
    }

    .main1{
      height: 81.5vh;
      background-color: #FFF7ED;

      padding: 0px 80px 20px 80px;
      
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./Assets/Home/image54.jpg) ;
      

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;

      color: white;

      display: flex;
      justify-content: center;
      align-items: center;
      /* flex-direction: column; */
    
    }

    .mainContainer{
      /* border: 5px dashed white; */

      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
      padding: 0px 40px 40px 40px;
    }

    .mainContainer > h1 {
      color: #FFFFFF;
      font-size: 80px;
      line-height: 110px;
      

      width: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      padding: 0px 0px 30px 0px;

      text-shadow: 1px 1px 100px rgb(172, 172, 172);

    }

    .mainContainer > p{
      font-size: 26px;
      width: 800px;
      padding:  0px 0px 50px 0px;
      text-align: center;
    }

    #mainBtn{
      width: 500px;
      height: 50px;

      background-color: #FF8C38;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 800;
      cursor: pointer;
    }

    .main2{
      height: 81.5vh;
      background-color: #FFF7ED;
      color: black;
      border-radius: 5px;


      padding: 0px 120px 20px 120px;

      display: flex;
      justify-content: center;
      align-items: center;

    }

    .main2 > div{

      height: 520px;
      width: 530px;

      display: flex;
      /* justify-content: center; */
      align-items: center;

      flex-direction: column;
    }

    .main2 > img{
      height: 500px;
      width: 670px;
      object-fit: cover;

      border-radius: 30px;

      margin-right: 110px;
    }

    .main2 > div > h1{
      font-size: 32px;
      font-weight: bold;

      margin-bottom: 32px;
      
    }

    .main2 > div > p{
      font-size: 18px;
      margin-bottom: 26px;

      font-weight: 500;
    }

    .main2 > div > .exploreDiv{
      width: 85%;
      background-color: #FFCC8D;

      padding: 26px 37px;

      border-radius: 5px;
    }

    .exploreDiv > #btnTitle{
      color: #161616;
      font-size: 28px;

      font-weight: 700;

      width: 400px;

      line-height: 40px;

      margin-bottom: 20px;
    }

    .main2 > div > .exploreDiv > #link > button{
      height: 55px;
      width: 200px;

      background-color: #161616;
      color: #FFFFFF;

      border-radius: 10px;

      font-size: 16px;
      font-weight: 600;
    }

    .main3{
      /* height: 81.5vh; */
      background-color: #FFF7ED;
      color: black;
      border-radius: 5px;


      padding: 0px 100px 86px 80px;

      display: flex;
      /* justify-content: center; */
      /* align-items: center; */

      flex-direction: column;
    }

    .main3 > h1{
      font-size: 32px;
      font-weight: 700;

      margin: 60px 0px 0px 30px ;
    }

    .badgeDiv{
      margin: 34px 0px 0px 30px;
      display: flex;
      align-items: center;
    }

    .badge{
      background-color: #FFEAD0;
      color: #686868;

      height: 40px;
      width: 95px;
      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-family: "Inter", serif;
      font-size: 16px;
      font-weight: 600;

      cursor: pointer;
      margin-right: 24px;
    }

    .simple:hover , .simple.selected{
      background-color: #E17654;
      color: #FFEAD0;
    }
    .luxury:hover , .luxury.selected{
      background-color: #161616;
      color: #FFEAD0;
    }
    .rugged:hover , .rugged.selected{
      background-color: #115E59;
      color: #FFEAD0;
    }

    .badge-simple{
      background-color: #E17654;
      color: #FFEAD0;
    }

    .badge-rugged{
      background-color: #115E59;
      color: #FFEAD0;
    }

    .badge-luxury{
      background-color: #161616;
      color: #FFEAD0;
    }

    #clearFilter{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .clear-filter{
      font-size: 18px;
      display: flex;
      align-items: center;
      transition: transform .1s ease-in-out;

      margin: 20px;
    }

    .clear-filter:hover{
      transform: translate(0px, -2px);
      text-decoration: underline;
    }

    .vanContainer{
      display: flex;
      flex-wrap: wrap;
      margin: 35px 0px 0px 30px;
      gap: 50px;
      flex: 1;
    }

    .vanCard{
      margin: 20px; 
      /* padding: 10px; */
    }

    .vanCard > .vanImg{
      width: 100%;
      max-height: 230px;
      object-fit: cover;
      border-radius: 5px;

      margin-bottom: 10px;
    }

    .vanDetails{
      display: flex; 
      justify-content: space-between;
    }

    .vanTitleContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .vanTitle{
      font-size: 20px;
      font-weight:500;

      margin-bottom: 10px;
      padding: 1px;
    }

    .vanPrice{
      font-size: 20px;
      font-weight:500;

      margin-top: 3px;
    }

    .vanPriceContainer{
      /* line-height: 15px; */
    }

    .footer{
      height: 7vh;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 16px;

      width: 100%;

      color: #AAAAAA;
      background-color: #252525;
    }

    .footer > div{
      text-shadow: 1px 1px 45px rgb(255, 255, 255);
    }

    .van-detail-container{
      
      height: 75vh;
      background-color: #FFF7ED;

      padding: 50px 100px;

      color: black;
    }

    .back-link{
      font-size: 18px;
      display: flex;
      align-items: center;
      transition: transform .1s ease-in-out;

      margin-bottom: 20px;
    }
    
    .back-link:hover{
      transform: translate(0px, -2px);
      text-decoration: underline;
    }

    .arrow{
      margin-right: 5px;
    }

    .van-detail-container-2{
      margin-top: 60px;
    }

    .van-detail{
      display: flex;
    }

    .van-detail > img{
      width: 500px;
      border-radius: 5px;

      margin: 0px 150px 0px 60px; 
    }

    .van-detail-2{
      padding-right: 50px;
    }

    .selectedVanBadge{
      margin: 5px 0px 30px 0px;
    }

    .vanName{
      font-size: 36px;

      padding: 0px 0px 20px 0px;
    }

    .van-price{
      font-size: 28px;

      padding-bottom: 40px;
    }

    .van-price > span{
      font-weight: 600;
    }

    .vanDescription{
      font-size: 20px;
      padding-bottom: 80px;
      font-weight: 400;
    }

    .link-button{
      height: 75px;
      width: 100%;

      border-radius: 5px;

      background-color: #FF8C38;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 600;
    }

    .host{
      height: 72vh;
      background-color: #FFF7ED;

      padding: 50px 100px;

      color: black;
    }

    .host-nav {
      display: flex;
    }
  
    .host-nav a {
        text-decoration: none;
        color: #4D4D4D;
        font-weight: 600;
        padding: 5px 20px;
        font-size: 18px;
    }
    
    .host-nav a:hover {
        color: #161616;
        text-decoration: underline;
        font-weight: 600;
    }

    #hostVanNavbar{
      padding-left: 70px;
      display: flex;
    }

    .hostVanNavbarLinks{
      margin-right: 20px;

      font-size: 16px;
    }

    .hostVanLinkDetails{
      margin: 20px 70px;
    }

    .hostVan{
      padding: 50px; 
    }

    .hostVanCard{
      /* width: 250px; */
    
      display: flex;
      

      background-color: #FFFFFF;
      
      padding: 18px 24px;
      margin: 20px;
    }

    .hostVanCardImg{
      height: 60px;

      margin-right: 18px;

      border-radius: 5px;
    }

    .hostVanCardDetails{
      display: flex;
      flex-direction: column;
    }

    .hostVanCardName{
      font-size: 20px;
      font-weight: 500;
    }

    .hostVanDetails{
      padding: 50px;
    }

    .hostVanDetail-1{
      background-color: #FFFFFF;
      padding: 5px 0px; 
    }
    .hostVanDetail-2{

      display: flex;

      margin: 50px;
      padding: 20px;

      border-radius: 5px;

    }

    .hostVanImg{
      width: 250px;
      margin-right: 100px;

      border-radius: 5px;
    }


    .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline: 27px;

      height: 80vh;      

      background-color: #FFF7ED;

      color: black;

      padding-top: 200px;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 500px;    
      margin-top: 30px;
    }

    .login-form > input {
      border: 1px solid rgba(209, 213, 219);
      height: 40px;
      text-indent: 10px;
      font-family: "Inter", sans-serif;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      font-weight: 400;
      font-size: 20px;

      margin: 20px;
    }

    .login-form > input:focus {
      outline: none;
    }

    .login-form > input:first-of-type {
      border-radius: 6px 6px 0px 0px;
    }

    .login-form > input:last-of-type {
      border-radius: 0px 0px 6px 6px;
      border-top: none;
    }

    .login-form > button {
      background-color: #FF8C38;
      border: none;
      border-radius: 6px;
      height: 55px;
      margin-top: 22px;
      color: white;
      font-family: "Inter", sans-serif;

      font-size: 18px
    }

    .profile{
      height: 30px;
      width: 50px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    #profile-icon{
      scale: 2;
    }


/* Media query for desktops ends here */
/* } */

/* 
 @media (max-width: 480px) {

  body {
    height: 100vh;
    width: 100%;
    background-color: #242424;
    overflow-x: hidden;
    padding: 0 10px;
  }

  a {
    text-decoration: none;
    color: #4D4D4D;
  }

  .navbar {
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF7ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  .logoImg {
    height: 20px;
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .link {
    font-size: 16px;
    font-weight: 600;
    color: #4D4D4D;
  }

  .main1 {
    height: auto;
    background-color: #FFF7ED;
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Assets/Home/image54.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px 40px 10px;
  }

  .mainContainer > h1 {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.2;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 100px rgb(172, 172, 172);
  }

  .mainContainer > p {
    font-size: 16px;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }

  #mainBtn {
    width: 100%;
    max-width: 300px;
    height: 45px;
    background-color: #FF8C38;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
  }

  .main2 {
    height: auto;
    background-color: #FFF7ED;
    color: black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main2 > div {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main2 > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .main2 > div > h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .main2 > div > p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .exploreDiv {
    width: 100%;
    background-color: #FFCC8D;
    padding: 20px;
    border-radius: 5px;
  }

  .exploreDiv > #btnTitle {
    color: #161616;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .main2 > div > .exploreDiv > #link > button {
    height: 45px;
    width: 100%;
    max-width: 200px;
    background-color: #161616;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .main3 {
    background-color: #FFF7ED;
    color: black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .main3 > h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
  }

  .badgeDiv {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .badge {
    background-color: #FFEAD0;
    color: #686868;
    height: 40px;
    width: auto;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .badge-simple {
    background-color: #E17654;
    color: #FFEAD0;
  }

  .badge-rugged {
    background-color: #115E59;
    color: #FFEAD0;
  }

  .badge-luxury {
    background-color: #161616;
    color: #FFEAD0;
  }

  .vanContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
  }

  .vanCard {
    width: 100%;
    padding: 10px;
  }

  .vanCard > .vanImg {
    width: 100%;
    max-height: 230px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .vanDetails {
    display: flex;
    justify-content: space-between;
  }

  .vanTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .vanTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 1px;
  }

  .vanPrice {
    font-size: 20px;
    font-weight: 500;
    margin-top: 3px;
  }

  .footer {
    width: 100%;
    height: auto;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #AAAAAA;
    background-color: #252525;
  }

  .footer > div {
    text-shadow: 1px 1px 45px rgb(255, 255, 255);
  }
} */

@media (max-width: 1024px) {

 }  